In [1]:
import pandas as pd
import numpy as np

In [15]:
data=pd.read_csv('/home/mehnaz/Downloads/housing(2).csv')

In [16]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [19]:
#split the data into xand y
x=data.drop(columns=['id','price','date'])

In [24]:
y=data.iloc[:,2:3]

In [25]:
y

        price
0      221900
1      538000
2      180000
3      604000
4      510000
...       ...
21608  360000
21609  400000
21610  402101
21611  400000
21612  325000

[21613 rows x 1 columns]

In [31]:
#split intp train and test
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=100)

In [32]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(15129, 18)
(6484, 18)
(15129, 1)
(6484, 1)

In [33]:
#building a model
from sklearn.linear_model import LinearRegression
l1=LinearRegression()

In [34]:
l1.fit(x_train,y_train)

LinearRegression()

In [35]:
y_pred=l1.predict(x_test)

In [36]:
y_pred

array([[ 367835.42832957],
       [ 285979.54629818],
       [ 548231.83046334],
       ...,
       [ 805003.35451557],
       [ 478590.58964776],
       [1535274.97425134]])

In [40]:
#question ans
data.head(2)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639

In [44]:
data[data['waterfront']==1].shape
#10 ans c

(163, 21)

In [46]:
data[data['floors']==2].shape
#11 ans b

(8241, 21)

In [50]:
data[((data['yr_built']>1960)&(data['waterfront']==1))].shape
#12 ans 81

(81, 21)

In [52]:
data[((data['price']==max(data['price']))&(data['bathrooms']>4))]
#13 ans a

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
7252,6762700020,20141013T000000,7700000,6,8.0,12050,27600,2.5,0,3,...,13,8570,3480,1910,1987,98102,47.6298,-122.323,3940,8800

In [53]:
#14 ans c (There is a presence of outliers in the price data)

In [54]:
#15 ans a (Calculate the IQR range and drop the values outside the range.)

In [55]:
#16 ans a (Correlation coefficient)

In [56]:
#17 ans a (he model is 38% accurate, and shows poor efficiency.)

In [57]:
#18 ans D

In [58]:
#19 ans a. (High multicollinearity)s